<form method="post" action="{{ path('app_mahler_discs_delete', {'id': mahler_disc.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mahler_disc.id) }}">
    <button class="btn">Delete</button>
</form>
